doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/materialize/dist/css/materialize.min.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    style(type='text/css').
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      main {
        flex: 1 0 auto;
      }

  body

    ul(id='dropdown1' class='dropdown-content')
      li
        a(href='/') Link 1
      li(class='divider')
      li
        a(href='/') Link 2
      li(class='divider')
      li
        a(href='/') Link 3
    nav
      div(class='nav-wrapper teal lighten-2')
        a(class='brand-logo' href='/') &nbsp;Robson Corporation
        ul(class='right hide-on-med-and-down')
          li
            a(href='/') Home
          li
            a(href='/users') Cadastro
          li
            a(class='dropdown-button' href='/' data-activates='dropdown1') Menu
              i(class='material-icons right')


    div(class="container")
      div(class="row")
        block content
        

  footer.page-footer.teal.lighten-2
    .container
      .row
        .col.l6.s12
          h5.white-text RobsCorp
          p.grey-text.text-lighten-4 A melhor corporação de todos os tempos!
        .col.l4.offset-l2.s12
          h5.white-text Links
          ul
            li
              a.grey-text.text-lighten-3(href='/') Link 1
            li
              a.grey-text.text-lighten-3(href='/') Link 2
            li
              a.grey-text.text-lighten-3(href='/') Link 3
            li
              a.grey-text.text-lighten-3(href='/') Link 4
    .footer-copyright
      .container© 2017 Todos os Direitos Reservados
        a.grey-text.text-lighten-4.right(href='/') Outros Links


    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/materialize/dist/js/materialize.min.js')